@media only screen and (min-width: 992px) {
  html {
    padding: 0;
    margin: 0; }
  .index__body {
    margin: 0;
    padding: 0; }
  .index__video {
    width: 100%; }
  a {
    text-decoration: none; }
  .index__texto {
    font-family: 'Martel', serif;
    font-weight: 200;
    color: #ffffff;
    font-size: 40px;
    position: absolute; } }

html #inicio {
  font-family: 'Lato', sans-serif;
  background: #f5f5eb; }

@media only screen and (min-width: 992px) {
  .inicio__texto--01 {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 300px 200px 0 100px; }
  .inicio__texto--02 {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 260px 0 0 40px; }
  .inicio__video--01 {
    padding: 180px 0 0 200px; }
  .inicio__video--02 {
    position: absolute;
    top: 600px;
    left: 760px; }
  .inicio__video--03 {
    padding: 80px 0 0 0; }
  .container__inicio {
    display: grid;
    grid-template-areas: "video03 texto01" "texto02 video01";
    grid-template-columns: 500px auto;
    grid-template-rows: 700px 500px; }
  .inicio__video--01 {
    grid-area: video01; }
  .inicio__texto--01 {
    grid-area: texto01; }
  .inicio__texto--02 {
    grid-area: texto02; }
  .inicio__video--03 {
    grid-area: video03; } }

@media only screen and (max-width: 991px) {
  .container__inicio {
    padding: 0; }
  .inicio__texto--01 {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 30px 14px 30px 14px; }
  .inicio__texto--02 {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 30px 14px 30px 14px; }
  .inicio__video--01, .inicio__video--02, .inicio__video--03 {
    max-width: 94%; }
  .inicio__video--02 {
    padding-bottom: 40px; } }

@media only screen and (min-width: 992px) {
  .container__registro {
    display: grid;
    grid-template-areas: "imagen03 imagen02" "texto02 imagen01" "video01 texto01";
    grid-template-columns: 400px auto;
    grid-template-rows: 1000px 700px 600px; }
  .container__registro__imagen--01 {
    grid-area: imagen01; }
  .container__registro__imagen--02 {
    grid-area: imagen02; }
  .container__registro__imagen--03 {
    grid-area: imagen03; }
  .container__registro--texto01 {
    grid-area: texto01; }
  .container__registro--texto02 {
    grid-area: texto02; }
  .container__registro--video01 {
    grid-area: video01; }
  .container__registro__imagen--01 {
    padding: 140px 0 0 300px; }
  .container__registro__imagen--02 {
    padding: 450px 0 0 200px; }
  .container__registro__imagen--03 {
    padding: 180px 0 0 0; }
  .container__registro--texto01 {
    padding: 200px 0 0 80px; }
  .container__registro--texto02 {
    padding: 60px 0 0 0; }
  .container__registro__video--01 {
    padding: 60px 0 0 50px; }
  .container__registro--texto01, .container__registro--texto02 {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left; } }

@media only screen and (max-width: 991px) {
  .container__registro__imagen--01, .container__registro__imagen--02,
  .container__registro__imagen--03, .container__registro__video--01 {
    max-width: 98%; }
  .container__registro__imagen--01, .container__registro__imagen--02,
  .container__registro__imagen--03 {
    padding-top: 40px; }
  .container__registro--texto01, .container__registro--texto02 {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-top: 40px;
    margin: 0; }
  .container__registro__video--01 {
    padding: 40px 0 40px 0; } }

@media only screen and (min-width: 992px) {
  .container__about {
    display: grid;
    grid-template-areas: "video03 video02" "texto video02" "video01 video04";
    grid-template-columns: 600px 600px;
    grid-template-rows: 500px 200px 400px; }
  .container__about--texto {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 0 200px 0 0; }
  .container__about__video--01 {
    padding: 0 0 0 20px; }
  .container__about__video--02 {
    padding: 260px 0 0 200px; }
  .container__about__video--03 {
    padding: 350px 0 0 40px; }
  .container__about__video--04 {
    padding: 160px 0 0 80px; } }

@media only screen and (max-width: 991px) {
  .container__about--texto {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 30px 0 30px 0;
    margin: 0; }
  .container__about__video--01, .container__about__video--02,
  .container__about__video--03, .container__about__video--04 {
    padding-top: 30px; }
  .container__about__video--01 {
    padding-bottom: 30px; } }

@media only screen and (min-width: 992px) {
  .container__contacto {
    display: grid;
    grid-template-areas: "video texto01";
    grid-template-columns: 50% 50%;
    grid-auto-rows: 400px; }
  .contacto__video {
    grid-area: video; }
  .contacto__texto, .formulario {
    grid-area: texto01; }
  .contacto__texto, .formulario {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px; }
  .contacto__mail, .contacto__boton {
    font-family: 'Ovo', serif;
    font-weight: 400; }
  .contacto__video {
    padding: 100px 0 0 160px; }
  .contacto__texto {
    padding: 180px 0 0 60px; }
  .formulario {
    padding: 220px 0 0 70px; } }

@media only screen and (max-width: 991px) {
  .contacto__texto, .formulario {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px; }
  .contacto__mail, .contacto__boton {
    font-family: 'Ovo', serif;
    font-weight: 400; }
  .container__contacto {
    display: flex;
    flex-direction: column; }
  .contacto__video {
    padding-top: 40px; }
  .contacto__texto {
    padding: 30px 0 0 30px; }
  .formulario {
    padding-left: 30px; } }

html #inicio__shop {
  background: url(foto__shop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.body__texto--shop {
  font-family: 'Ovo', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  color: #fffdf2;
  padding: 160px 5px 0 5px; }

.container__nav__logo {
  margin: 0;
  padding: 0; }

.nav__logo--shop {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fffdf2 !important;
  font-size: 20px !important; }

@media only screen and (max-width: 991px) {
  .body__texto--shop {
    font-size: 32px; } }

@media only screen and (min-width: 992px) {
  .container__obra--externo {
    display: grid; }
  .container__obra--texto {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 80px 0 20px 0; }
  .obra__video {
    padding: 0 20px 0 20px; } }

@media only screen and (max-width: 991px) {
  .container__obra--texto {
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 80px 0 20px 0; }
  .container__obra--interno {
    display: flex;
    flex-direction: column;
    padding-left: 20px; }
  .obra__video {
    max-width: 300px;
    max-height: 200px; } }

@media only screen and (min-width: 992px) {
  .nav__menu {
    background-color: transparent !important;
    padding-top: 20px; }
  .nav__logo {
    font-size: 20px !important;
    font-weight: 300 !important; }
  .nav__menuObra {
    background-color: #f5f5eb !important;
    border-color: transparent;
    opacity: 0.91; }
  .nav__menuObraItem:hover {
    text-decoration: underline;
    background-color: transparent; }
  .container .nav__boton {
    background-color: transparent;
    border-color: transparent !important; }
  .container__video {
    padding-top: 25px; }
  .nav__logo, .nav__menu--boton, .nav__noObraItem {
    color: black !important;
    font-weight: 300; }
  .nav__menuObraItem {
    font-weight: 300; }
  .nav__noObraItem:hover {
    text-decoration: underline; }
  .nav__menu--boton:hover {
    text-decoration: underline; }
  .nav__menu--boton::after {
    display: none; }
  footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 10px;
    padding: 0 0 10px 10px; } }

@media only screen and (max-width: 991px) {
  .nav__menu {
    background-color: transparent !important; }
  .nav__menu--boton, .nav__noObraItem {
    padding-left: 8px !important;
    font-weight: 300; }
  .nav__logo {
    font-size: 20px;
    font-weight: 300; }
  .nav__boton {
    font-size: 14px;
    padding-top: 12px;
    font-weight: 100; }
  .nav__menuObra {
    background-color: #f5f5eb !important;
    border-color: transparent;
    opacity: 0.91;
    font-weight: 300; }
  .container .nav__boton {
    color: black !important;
    background-color: transparent;
    border-color: transparent !important; }
  .nav__menuObraItem {
    color: black !important;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif; }
  .nav__logo, .nav__menu--boton, .nav__noObraItem {
    color: black !important;
    font-family: 'Lato', sans-serif; }
  .nav__noObraItem:hover {
    text-decoration: underline; }
  .nav__menu--boton:hover {
    text-decoration: underline; }
  .nav__menu--boton::after {
    display: none; }
  footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 10px;
    padding: 0 0 10px 10px; } }
