html #index {
  background: url(gif__index.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

a {
  text-decoration: none; }

.body__textoInicial {
  font-family: 'Martel', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 200;
  color: #ffffff;
  padding: 60px 5px 0 5px; }

@media only screen and (min-width: 992px) {
  html #index {
    background: url(gif__index.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  a {
    text-decoration: none; }
  .body__textoInicial {
    font-family: 'Martel', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    font-weight: 200;
    color: #ffffff;
    padding: 60px 5px 0 5px; } }

@media only screen and (min-width: 992px) {
  html #inicio {
    background: #f0e9dd; }
  html #inicio {
    font-family: 'Lato', sans-serif; }
  .nav__menu {
    background-color: transparent !important; }
  .nav__logo {
    font-size: 20px !important;
    font-weight: 300 !important; }
  .nav__menuObra {
    background-color: #f0e9dd !important;
    border-color: transparent;
    opacity: 0.91; }
  .nav__menuObraItem:hover {
    text-decoration: underline;
    background-color: transparent; }
  .container .nav__boton {
    background-color: transparent;
    border-color: transparent; }
  .container__video {
    padding-top: 25px; }
  .nav__logo, .nav__menu--boton, .nav__noObraItem {
    color: black !important; }
  .nav__noObraItem:hover {
    text-decoration: underline; }
  .nav__menu--boton:hover {
    text-decoration: underline; }
  .nav__menu--boton::after {
    display: none; } }

html #inicio {
  background: #f0e9dd; }

.nav__menu {
  background-color: transparent !important; }

.nav__menu--boton, .nav__noObraItem {
  padding-left: 8px !important;
  font-weight: 300; }

.nav__logo {
  font-size: 20px;
  font-weight: 300; }

.nav__boton {
  font-size: 14px;
  padding-top: 12px;
  font-weight: 100; }

.nav__menuObra {
  background-color: #f0e9dd !important;
  border-color: transparent;
  opacity: 0.91; }

.container .nav__boton {
  color: black !important;
  background-color: transparent;
  border-color: transparent; }

.nav__menuObraItem {
  color: black !important;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', sans-serif; }

.nav__logo, .nav__menu--boton, .nav__noObraItem {
  color: black !important;
  font-family: 'Lato', sans-serif; }

.nav__noObraItem:hover {
  text-decoration: underline; }

.nav__menu--boton:hover {
  text-decoration: underline; }

.nav__menu--boton::after {
  display: none; }

.container__video {
  max-width: 95%;
  max-height: 95%;
  padding-top: 30px; }

@media only screen and (min-width: 992px) {
  .main__registroDeProcesos--video {
    padding-top: 12px; }
  .main__registroDeProcesos--texto {
    background-color: rgba(240, 233, 221, 0.4);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 44px;
    text-align: right;
    color: black;
    position: fixed;
    top: 60px;
    left: 400px;
    padding-right: 20px; }
  .main__registroDeProcesos--texto {
    --animate-delay: 3s;
    --animate-duration: 3s; } }

@media only screen and (min-width: 401px) and (max-width: 991px) {
  .main__registroDeProcesos--video {
    padding-top: 12px; }
  .main__registroDeProcesos--texto {
    background-color: rgba(240, 233, 221, 0.4);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: right;
    color: black;
    position: fixed;
    top: 60px;
    left: 50%;
    padding-right: 20px; }
  .main__registroDeProcesos--texto {
    --animate-delay: 3s;
    --animate-duration: 3s; } }

@media only screen and (max-width: 400px) {
  .main__registroDeProcesos--video {
    padding-top: 50px;
    max-height: 96%;
    max-width: 96%; }
  .main__registroDeProcesos--texto {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 12px 30px 0 24px;
    background-color: rgba(240, 233, 221, 0.4);
    position: absolute;
    top: 50px; }
  .main__registroDeProcesos--texto {
    --animate-delay: 3s;
    --animate-duration: 3s; } }

@media only screen and (min-width: 992px) {
  .container__about__video--chico {
    display: none; }
  .container__about__video--grande {
    display: block;
    margin: auto; }
  .container__about__texto {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgba(175, 213, 212, 0.4);
    font-size: 38px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media only screen and (min-width: 401px) and (max-width: 991px) {
  .container__about__video--chico {
    display: none; }
  .container__about__texto {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
    background-color: rgba(175, 213, 212, 0.4);
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media only screen and (max-width: 400px) {
  .container__about {
    padding: 0;
    margin: 0; }
  .container__about__video--chico {
    display: block; }
  .container__about__video--grande {
    display: none; }
  .container__about__texto {
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    background-color: rgba(175, 213, 212, 0.4);
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translate(-50%, -50%); } }

.newsletter p {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  font-size: 18px; }

.nav__logo {
  font-size: 20px !important;
  font-weight: 300 !important; }

html #inicio__shop {
  background: url(foto__shop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.body__texto--shop {
  font-family: 'Martel', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  font-weight: 200;
  color: #ffffff;
  opacity: 0.5;
  padding: 160px 5px 0 5px; }

.container__nav__logo {
  margin: 0;
  padding: 0; }

.nav__logo {
  font-size: 20px !important;
  font-weight: 300 !important; }

.textoMultimedia {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px; }
