@media only screen and (min-width: 400px){
.container__about__video--chico{
  display: none;
}

.container__about__texto{
  background-color: rgba(245, 221, 144, 0.5);
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
  font-size: 26px;
  position: fixed;
  top: 40%;
  padding-right: 20px;

}

}

@media only screen and (max-width: 399px){
.container__about__video--grande{
  display: none;
}

}
