@media only screen and (min-width: 992px){

  .container__contacto{
    margin-left: 80px;
    display: grid;
    grid-template-areas:
    "video texto01";
    grid-template-columns: 50% 50%;
    grid-auto-rows: 400px;
}

  .contacto__video{
    grid-area: video;
}

  .contacto__texto, .formulario{
    grid-area: texto01;
  }

  .contacto__texto, .formulario{
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
}

  .contacto__mail, .contacto__boton{
    font-family: 'Ovo', serif;
    font-weight: 400;
}

  .contacto__video{
    padding: 0 0 0 160px;
}

  .contacto__texto{
    padding: 100px 0 0 40px;
}
}

@media only screen and (max-width: 991px){

  .contacto__texto, .formulario{
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 14px;
}

  .contacto__mail, .contacto__boton{
    font-family: 'Ovo', serif;
    font-weight: 400;
}

  .container__contacto{
    display: flex;
    flex-direction: column;
}

  .contacto__video{
    padding-top: 40px;
  }

  .contacto__texto{
    padding: 30px 0 0 30px;
}

    .formulario{
      padding-left: 30px;
    }

}
