$amarillo__claro:#f0e9dd;

html #inicio{
  font-family: 'Lato', sans-serif;
  background: $amarillo__claro;
}

@media only screen and (min-width: 992px){
  .inicio__texto--01{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

  .inicio__texto--02{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}



  .container__inicio{
    display: grid;
    grid-template-areas:
    "video01 texto01"
    "texto02 video03"
}

  .inicio__video--01{
    grid-area: video01;
    padding: 100px 0 0 0;
}

  .inicio__texto--01{
    grid-area: texto01;
    padding: 260px 0 0 120px;
}

  .inicio__texto--02{
    grid-area: texto02;
    padding: 280px 0 0 20px;
}

  .inicio__video--03{
    grid-area: video03;
    padding: 160px 0 80px 250px;
}

  .inicio__video--02{
    position: absolute;
    top: 800px;
    left: 120px;
}
}

@media only screen and (max-width: 991px){
  .container__inicio{
    padding: 0;
}

  .inicio__texto--01{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding: 30px 0 30px 0;
}

  .inicio__texto--02{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding: 30px 0 30px 0;
}

    .inicio__video--01, .inicio__video--02, .inicio__video--03{
      max-width: 99%
}

  .inicio__video--02{
    padding-bottom: 40px;
  }

}
