$gris__calido:#363130;

@media only screen and (min-width: 992px) {
.main__registroDeProcesos--video{
  padding-top: 30px;
  position: fixed;
  left: 30px;
}

.main__registroDeProcesos--texto{
  font-family: 'Lato', sans-serif;
  background-color: rgba(245, 221, 144, 0.5);
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  color: $gris__calido;
  position: fixed;
  top: 200px;
  left: 500px;
  padding-right: 60px;
}

.main__registroDeProcesos--texto{
  --animate-delay: 3s;
  --animate-duration: 3s;
}
.main__registroDeProcesos--texto-chico{
  font-size: 20px;
}
}

@media only screen and (max-width: 400px){

 .main__registroDeProcesos--video{
  padding-top: 150px;
  max-width: 96%;
}
.main__registroDeProcesos--texto{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: $gris__calido;
  text-align: right;
  position: absolute;
  top: 2px;
  padding-right: 10px;
  }
  .main__registroDeProcesos--texto{
  --animate-delay: 3s;
  --animate-duration: 3s;}

}
