$gris__claro:#b59ea3;
$azul__comun:#3a4594;
$azul__claro:#d5d9f5;
$azul__oscuro:#171c4a;
$blanco:#ffffff;
$gris__oscuro:#ababab;
$amarillo__claro:#f0e9dd;
@media only screen and (min-width: 992px) {
  .main__registroDeProcesos--video{
    padding-top: 28px;
    max-width: 560px;
    max-height: 560px;
  }
.main__registroDeProcesos--video:hover{
  opacity: 0.7;
}
.main__registroDeProcesos--texto{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 40px;
      color: $gris__oscuro;
      position: absolute;
      top: 5%;
  }

.main__registroDeProcesos--texto{
  --animate-delay: 2s;
  --animate-duration: 3s;

}
}




@media only screen and (max-width: 375px){

 .main__registroDeProcesos--video{
  padding-top: 150px;
  max-height: 86%;
  max-width: 86%;
}
.main__registroDeProcesos--texto{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 15px;
      padding: 8px 18px 0 4px;
      color: black;
      position: absolute;
      top: 0;
  }
  .main__registroDeProcesos--texto{
    --animate-delay: 1s;
    --animate-duration: 2s;}

}
