$blanco:#fffdf2;

html #inicio__shop{
  background: url(foto__shop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body__texto--shop{
  font-family: 'Ovo', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  color: $blanco;
  padding: 160px 5px 0 5px;
}

.container__nav__logo{
  margin: 0;
  padding: 0;
}

.nav__logo--shop {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $blanco !important;
  font-size: 20px !important;
}

@media only screen and (max-width: 991px){
  .body__texto--shop{
    font-size: 32px;
}
}
