@media only screen and (min-width: 992px){

  .container__obra--externo{
    display: grid;
  }

  .container__obra--texto{
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 80px 0 20px 0;
}

  .obra__video{
    padding: 0 20px 0 20px;
}
}

@media only screen and (max-width: 991px){
  .container__obra--texto{
    font-family: 'Ovo', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 80px 0 20px 0;
}

  .container__obra--interno{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

  .obra__video{
    max-width: 300px;
    max-height: 200px;
}
}
