@media only screen and (min-width: 992px){
.textoMultimedia{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.textoMultimedia--texto{
  font-size: 22px;
}
.textoMultimedia--año{
  font-size: 14px;
}
.container__video--interno{
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 540px 540px;
  grid-row-gap: 10px;
  grid-column-gap: 8px;
}
}

@media only screen and (max-width: 991px){
.container__video--exterior, .container__video{
  padding: 0;
}
.textoMultimedia{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}
.container__video--interno{
  display: grid;
  grid-template-rows: 180px 180px 180px 180px 180px 180px;
  grid-template-columns: 340px;
  grid-row-gap: 10px;
  grid-column-gap: 8px;
}
iframe{
  max-width: 300px;
  padding-left: 20px;
}
}
